{% extends 'jobsite/base2.html' %}

{% block content %}
{% load crispy_forms_tags %}


  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
            {% if user.company == '' %}
            {% else %}
            <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="{% url 'my_company_empty_form' user.company.id %}">1. Информация о&nbsp;компании</a>
            {% if user.company.vacancies.count is 0 %}
            <a class="nav-link" href="{% url 'my_vacancies_create' user.id  %}">2. Информация о вакансиях </a>
            {% else %}
            <a class="nav-link" href="{% url 'my_vacancies_list' %}">2. Информация о вакансиях </a>
            {% endif %}
          </div>
            {% endif %}
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              <form method='post' action="" enctype="multipart/form-data">{% csrf_token %}

                 <div class="form-row">
                   <div class="form-group col-md-6 mb-0">
                      {{ form.name|as_crispy_field }}
                   </div>
                   <div class="form-group col-md-6 mb-0">
                      {{ form.logo|as_crispy_field }}
                   </div>
                 </div>
                 <div class="form-row">
                   <div class="form-group col-md-6 mb-0">
                      {{ form.employee_count|as_crispy_field }}
                   </div>
                   <div class="form-group col-md-6 mb-0">
                      {{ form.location|as_crispy_field }}
                   </div>
                 </div>

                 <div class="form-row">
                   <div class="form-group col-md-6 mb-0">
                      {{ form.description|as_crispy_field }}
                   </div>
                 </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
